# Dependencies
node_modules
.pnp
.pnp.js

# Testing & Coverage
coverage

# Next.js build output
frontend/.next/
frontend/out/

# Production build output
backend/dist/
frontend/build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
*.pem
.vscode/
.idea/
